
@{
    ViewData["Title"] = "View";
}

<h1>Welcome</h1>

@model Lab18_CoffeeShop1.Models.RegisterUser

<div style="font-family:Georgia;font-size:200%">
<p>
     
    <br/>Hello @Model.FirstName @Model.LastName. 
    <br />Welcome to the Grand Circus Coffee Shop!
    <br />
   @Html.ActionLink("VIew Your Profile", "DisplayInfo","CoffeeShop", Model)


</p>
</div>

<style>
    body {
        background-image: url('../../wispy.jpg');
    }
</style>

